@charset "ISO-8859-1";
body {
	background-image: url(https://images.pexels.com/photos/1631677/pexels-photo-1631677.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
	background-repeat: no-repeat;
	background-size: 1366px 768px;
	text-align: center;
}

h1 {
	font-family: lucida Handwriting, Cursive;
	color: white;
	font-size: 45px;
}
.empid{
margin: 14px 0px 14px 0px;
}
.empid label{
font-size: 35px;
}
.empid input{
width: 20%;
height: 25px;
margin-left: 20px;
font-size: 17px;
}

.empemail{
margin: 14px 0px 14px 0px;
}
.empemail label{
font-size: 35px;
}
.empemail input{
width: 20%;
height: 25px;
margin-left: 135px;
font-size: 17px;
}

.emppass{
margin: 14px 0px 14px 0px;
}
.emppass label{
font-size: 35px;
}
.emppass input{
width: 20%;
height: 25px;
margin-left: 80px;
font-size: 17px;
}

label {
	font-family: Copperplate, Papyrus, fantasy;
	color: black;
}

#input{
border-radius: 10px;
}

.login-form {
	width: 75px;
	height: 30px;
	font-size: 17px;
	background-color: black;
	border: 1px solid blue;
	border-radius: 20px;
	color: white;
}

.back-button {
    border: none;
    background-color: #ff4d4d;
    font-size:15px;
    color: white;
    margin: auto;
    width: 100px;
    display: block;
    border-radius: 10px;
    padding: 10px 0;
    font-weight: bold;
    cursor: pointer;
    margin-left:1%;
}
a{
text-decoration:none;
}