@charset "ISO-8859-1";
.text-danger {
	color: #e80c4d;
	font-size: 5px;
}

body {
	background-image:
		url(https://res.cloudinary.com/practicaldev/image/fetch/s--VUjY6vGQ--/c_imagga_scale,f_auto,fl_progressive,h_900,q_auto,w_1600/https://dev-to-uploads.s3.amazonaws.com/uploads/articles/dm3d0q71otpp5c6auetc.jpg);
	background-repeat: no-repeat;
	background-size: 1366px 768px;
	text-align: center;
}

h1 {
	font-family: "Lucida Console", "Courier New", monospace;
	font-size: 40px;
	color: #face69;
}

.form label {
	font-family: Verdana, sans-serif;
	font-size: 30px;
	color: white;
}

.form table {
	font-size: 30px;
}

.form input {
	width: 200px;
	height: 27px;
	font-size:15px;
}
.form select{
	font-family: Verdana, sans-serif;
	font-size: 20px;
	color: black;
}
.form #radbtn{
	font-family: Verdana, sans-serif;
	font-size: 30px;
	color: white;
}

.form button {
	font-size:15px;
	font-weight:800;
	border-radius: 25px;
	background:#face69;
	color:black;
	padding: 20px;
	width: 140px;
	margin-right:60%;
}


.back-button {
    border: none;
    background-color: #ff4d4d;
    font-size:15px;
    color: white;
    margin: auto;
    width: 100px;
    display: block;
    border-radius: 10px;
    padding: 10px 0;
    font-weight: bold;
    cursor: pointer;
    margin-left:1%;
    margin-top:1%;
}
a{
text-decoration:none;
}